<div class="container">
  <div class="navOnStart container"> 
    <nav class="navbar navbar-light navbar-expand-lg bg-transparent ml-auto">
      <a class="navbar-brand" href="#">e school</a>
        
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <img src="assets/logo1.png" class="logo" alt=""/>
            </li>
          </ul>
        
    </nav>

    <hr class="hline"/>
  </div>
  <div class="row">
    <div class="member col-sm-3.5">
        <div class="member-head">
          <p class="head-text">Contact Us</p>
        </div>
        <form>
        <div class="enteries form-group row">
          <label class="col-sm-2">
            <img src="../../../assets/mail.png" alt="mail" class="info-img">
          </label>

          <div class="col-sm-10" style="text-align: center;">
            <input type="text" class="form-control-plaintext info" id="staticEmail2" name="Email Address" placeholder="Email Address"><br/>
          </div>

          <hr class="hline"/>
        </div>
          
        <div class="enteries form-group row">
          <label class="col-sm-2">
            <img src="../../../assets/phone.png" alt="phone" class="info-img">
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext info" name="Phone number" placeholder="Phone number"><br/>
          </div>
          <hr class="hline"/>
        </div>
        
        <div class="enteries form-group row">
          <label class="col-sm-2">
            <img src="../../../assets/question.png" alt="question" class="info-img">
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext info" name="Queries" placeholder="Queries(if any)"><br/>
          </div>

          <hr class="hline"/>
          
        </div>

        <div>
          <button type="submit" href="#" class="btn" style="align-content: center;">Submit</button>
        </div>
        </form>
        
    </div>

    <div class="member-content col-sm-6.5">
      <div class="head2">
        Be a Member!
      </div>

      <hr class="hline"/>

      <div></div>
    </div>
  </div>
</div>
