<div class="bg " id="features">
  <div class="container">
    <p class="text-classes std">features</p>
    <hr class="hline" />
    <div class="top-left-div">
      <div class="feature-text">
        <h3 class="text-head text-center">NOTES</h3>
        <p class="text">We know that internet connectivity is a luxury for many. Thus e-class notes are provided
          in th form of a simplified written version of online videolectures to make the process much easier and
          inclusive for all the learners. These notes are important for quick revision, accurate understanding as well
          as written record of the topics taught in e-school.</p>
      </div>
    </div>
    <div class="mid-div">
      <div class="row">
        <div class="col-3">
          <h3 class="text-head text-center" >WEEKLY PRACTICE QUESTION</h3>
        </div>
        <div class="col-9">
          <div class="weekly">

            <p class="text">
              The student are provided weekly practice question to help them understand and assess each topic learned
              through the E-shool service. These students understand the importance of real-world application of
              education
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="weekly">

            <p class="text">
              Teachers from well-reputed institutions across India provide detailed recorded video lectures as a part of
              E-school service. The video lectures are made accessible and easier with the s eof regional languages. The
              surplus fubds recieved are reinvested into schools lacking in technological infrastructure in order to
              promote didgital learning in less resourceful areas.
            </p>
          </div>
        </div>
        <div class="col-3">
          <h3 class="text-head text-center"> VIDEO LECTURE</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h3 class="text-head text-center">TEST IN VIDEO FORMAT </h3>
        </div>
        <div class="col-9">
          <div class="weekly">

            <p class="text">
              Curiosity is a great sign of learning Thus regular topic wise test are taken to help the curious learners
              assess their understandingg. Tests are provided in a PDF format to combat the internet connectivity issues
              that may rise in various under-devdeloped regions.
            </p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-9">
          <div class="weekly">

            <p class="text">
              Mock Test are a great tool for assesment in education.We are willing to provide the facility of online
              mock tests as per the requirement made by the school. Such a facility will further help enrich and enhance
              the knowlwdge of learners.
            </p>
          </div>
        </div>
        <div class="col-3">
          <h3 class="text-head text-center">MOCK TEST</h3>
        </div>
      </div>
    </div>
    <div class="bottom-right-div">
      <div class="feature-text">
        <h3 class="text-head text-center">WEEKLY CLASS DOUBT</h3>
        <p class="text">Getting stuck in doubts is a big obstacle faced by th students. The YIF E-School service
          does not end with lecture delivery, our teachers provide online weekly doubt classes in order to promote
          critical learning and innovation in the students. Thus the goal is to imitate ofline eductaon in the possible
          way.</p>
      </div>
    </div>
  </div>
</div>