<div class="bg " id="features">
  <div class="container">
    <p class="text-classes std">features</p>
    <hr class="hline" />
    <div class="top-left-div">
      <div class="notes">
        <h3 class="notes-head text-center">NOTES</h3>
        <p class="notes-text">We know that internet connectivity is a luxury for many. Thus e-class notes are provided
          in th form of a simplified written version of online videolectures to make the process much easier and
          inclusive for all the learners. These notes are important for quick revision, accurate understanding as well
          as written record of the topics taught in e-school.</p>
      </div>
    </div>
    <div class="mid-div">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="weekly-head text-center">WEEKLY PRACTICE QUESTION</h3>
        </div>
        <div class="col-sm-9">
          <div class="weekly">
            
            <p class="weekly-text">
              The student are provided weekly practice question to help them understand and assess each topic learned
              through the E-shool service. These students understand the importance of real-world application of
              education
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-right-div"></div>
  </div>
</div>