<div>
    <div class="container">
      <header id = "brand">
          Our Members
      </header>
        <div id="border"></div>
        <div class="members"></div>
        
      </div>

      <div class="footer">
        <footer>
          <div id="contact">
            You can contact us on
          </div>
          <div id="follow">
            You can also follow us on
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img id = "img1" src="../../assets/iconfinder_gmail_132837.png" alt="">
            </div>
            <div class="col-sm-6">
              <div class="col-sm-2">
                <img id = "img2" src="../../assets/instagram-sketched.png" alt="">
              </div>
              <div class="col-sm-2">
                <img id = "img3" src="../../assets/linkedin.png" alt="">
              </div>
              <div class="col-sm-2">
                <img id = "img4" src="../../assets/twitter.png" alt="">
              </div>
            </div>
          </div>
        </footer>

      </div>



    </div>