@font-face {
    font-family : Pacifico;
    src : url('../../assets/Pacifico-Regular.ttf');
  }
  @font-face {
    font-family : SFProDisplay;
    src: url('../../assets/FontsFree-Net-SFProDisplay-Regular.ttf');
  }
  
  .container{
      max-width: 1440px;
      width : 100%;

  }
  
