@import url('https://fonts.google.com/specimen/Pacifico#standard-styles');

$primary: #FFFFFF;

@media only screen and (max-width: 719px) {
  html{
      font-size: 40% !important;
  }
  .navbar-brand{
    padding: 2rem !important;
    font-size: 3rem !important;
 }
 .info-img{
   width: 3rem !important;
   height: 3rem !important;
 }
 .member{
   position: relative;
   width: 50rem !important;
   align-content: center !important;
   height: 64rem !important;
   
 }
 .member-content{
   margin-top: 6rem !important;
   
 }
 .enteries{
  position: relative !important;
  outline: none !important;
  margin-left: 4rem !important;
  margin-top: 4rem !important;
  width: 30rem !important;

  .hline {
    position: relative !important;
    width: 35rem !important;
    margin-right: -7rem;
  }
}
}
@media only screen and (min-width: 720px){
  html{
      font-size: 45% !important;
  }
  .info-img{
    width: 3rem !important;
    height: 3rem !important;
  }
  .member{
    width: 40rem !important;
  }
  .head2{
    font-size: 6rem !important;
  }
  
  .btn{
    margin-left: 12rem !important;
  }
}
@media only screen and (min-width: 1024px){
  html{
      font-size: 50% !important;
  }
  .enteries{
    .hline{
      position: relative;
      width: 45rem !important;
      margin-right: -6rem;
    }
  }
  .member{
    
    width: 45rem !important;
  }
  .member-content{
    margin-top: 2rem !important;
    
  }
  .btn{
    margin-left: 15rem !important;
  }
}
@media only screen and (min-width: 1281px){
  html{
      font-size: 60% !important;
  }
  .member-content{
    margin-right: -20rem;
  }
}
@media only screen and (min-width : 1367){
  html{
      font-size: 70% !important;
  }
  .member-content{
    margin-right: -20rem;
  }
}
body{
    background-color: #EFF4FC;
  }
  
  .container{
    max-width: 1440px;
  }
    
  .navbar-brand{
    font-family: Pacifico;
    font-size: 2.5rem;
    font-weight: 100;
    margin-left: 1%;
    &:hover{
      text-shadow: 0 0 3px #1F252BF7;
    }
  }

  .nav-link{
    margin: .5rem 1.5rem;
    font-weight: 100%;
  }
  
  .items{
    font-family: Pacifico;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;

    &:hover{
      background: #ECECEC;
      width: auto;
    }
  }

  .logo{
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
  }

  
  
    .member{
      position: relative;
      background-color: #EF4E74;
      width: 45rem;
      height: 53rem;
      margin-top: 4rem;
      margin-left: 10rem;
      float: left;
      border-radius: 36px;
      box-shadow: 0 25px 30px #0000004D;
    
      .member-head{
        background-color: #6A61C5;
        width: 100%;
        height: 8.6rem;
        border-radius: 36px 36px 0 0;
        
        .head-text{
          text-align: center;
          font-size: 5rem;
          font-weight: 100%;
          font-family: Pacifico;
          padding-top: 0.7rem;
        }
      }

      .enteries{
        display: flex;
        position: relative;
        outline: none;
        margin-left: 4rem;
        margin-top: 4rem;
        width: 30rem;

        
      }

      .btn{
        position: relative;
        background-color: #FFFFFF;
        font-size: 3rem;
        font-family: Pacifico;
        box-shadow: 0px 10px 15px #00000029;
        border-radius: 30px;
        opacity: 1;
        padding: 1rem;
        width: 15rem;
        margin-top: 3rem;
        margin-left: 17rem;
      }
    }

    .info{
      outline: none;
      position: relative;
      font-size: 2rem;
      color: #FFFFFF;
    }

    ::placeholder{
      color: lighten($primary, 20%);
    }

    .member-content{
      float: right;
      margin-left: 15rem;
      margin-top: 1rem;

      .head2{
        font-family: Pacifico;
        font-size: 8rem;
      }

     
    }
    .bg {
      background-color: #EFF4FC;
      opacity: 1;
    }
    .std{
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .row{
      margin-top:1%;
    }
    .text-classes {
      position: relative;
      // left: 46px;
      margin-bottom: 0px;
      font-size: 3rem;
      text-align: left;
      font-family: Pacifico;
      letter-spacing: 0px;
      color: #1f252bf7;
      opacity: 1;
      cursor: pointer;
      &:hover{
        text-shadow: 0 0 2px #1F252BF7;
      }
    }
    .hline {
      margin-top: 0.1%;
      width: 98%;
      height: 0.5rem solid;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #707070;
      opacity: 1;
    }
    .logo{
      position: relative;
      left: 90%;
      right:2rem;
      width: 4rem;
      height: 4rem;
      // margin-right: 1.5rem;
    }