<!-- <app-mainview></app-mainview> -->

<!-- {{toggleviews}} -->
<div *ngIf="toggleviews; then rendermain else renderpages"></div>
<ng-template #rendermain>
    <app-mainview (changed)="setToggle($event)"></app-mainview>
</ng-template>
<ng-template #renderpages>
    <div [ngSwitch]="message">
        <!-- {{message}} -->
        <div *ngSwitchCase="'classes'">
            <app-course-description (goToHome)="setToggle($event)"></app-course-description>

        </div>
        <div *ngSwitchCase="'interns'">
            <app-interns (goToHome)="setToggle($event)"></app-interns>
        </div>
        <div *ngSwitchCase="'members'">
            <app-members (goToHome)="setToggle($event)"></app-members>

        </div>
        <div *ngSwitchCase="'memberpage'">
            <app-member-page (goToHome)="setToggle($event)"></app-member-page>

        </div>
        <div *ngSwitchCase="'developers'">
            <app-developer-page (goToHome)="setToggle($event)"></app-developer-page>

        </div>
    </div>
    
</ng-template>