<div>
    <div class= "container">
            <header id = "brand" (click)="gotohome()">
                e school
            </header>
            <div id = "border"></div>

              <div class="row">
                <div class="col-sm-12" id = "yellow">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="white-box">

                    </div>
                  </div>
                  <div class="col-xs-4" id = "details">
                    <ul id = "list1">
                      <li>Course Name</li>
                      <li>Teacher</li>
                      <li>Class</li>
                      <li>Subject</li>
                    </ul>
                  </div>
                  <div class="col-xs-4">
                    <img id ="image" src="../../assets/webinar.png" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12" id = "one-line">
                What you'll learn
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12" id = "topic">
                <ul id = "list2">
                  <li>Topic 1</li>
                  <li>Topic 2</li>
                  <li>Topic 3</li>
                  <li>Topic 4</li>
                </ul>
              </div>
            </div>                
    </div>
</div>

