<div>
    <div class="container"  >
        <div class="myHead">
            about us
        </div>

        <hr class="hline"/>
        <div class="row">
           <div class="col-sm-6">

             <p></p>

           </div>
           <div class="col-sm-3 ">
             
            <div class="yifmembers">
                <!-- <div class="imgmembers text-center"><img src="../../../assets/OBJECTS.png"></div> -->
                <button type="button" href="" class="knowmore">Know more</button>
            </div>

          </div>
          <div class="col-sm-3 ">

            <div class="yiffoundation">
                <!-- <div class="imgfoundation text-center"><img src="../../../assets/logo1.png"></div> -->
                <button type="button" href="" class="knowmore">Know more</button>
            </div>

            <div class="yifdevelopers">
                <!-- <div class="imgmembers text-center"><img src="../../../assets/develop.png"></div> -->
                <button type="button" href="" class="knowmore">Know more</button>
            </div>
         

          </div>
        </div>     
    </div>
</div>
