<div>
    <div class="container"  >
        <div class="myHead">
            about us
        </div>

        <hr class="hline"/>
        <div class="row">
           <div class="col-md-6 col-xs-12 text">

             <p></p>

           </div>
           <div class="col-md-3 col-xs-12">
             
            <div class="yifmembers">
                <div class="imgmembers text-center"><img src="../../../assets/OBJECTS.png"></div>
            </div>

          </div>
          <div class="col-md-3 col-xs-12">

            <div class="yiffoundation">
                <div class="imgfoundation text-center"><img src="../../../assets/logo1.png"></div>
            </div>

            <div class="yifdevelopers">
                <div class="imgmembers text-center"><img src="../../../assets/develop.png"></div>
            </div>
         

          </div>
        </div>     
    </div>
</div>
