<div>
    <div class="container">
        <div class="myHead">
            about us
        </div>

        <hr class="hline"/>

        <div class="foundation">
            <div>
                <div class="yifHead" style="text-align: center;">
                    The YIF Foundation
                </div>
            </div>
            <div class="container">
                <div style="text-align: center;">
                    <img src="assets/logosvg1.png" alt="foundation" class="img-fluid found-img">
                </div>
                <div class="bottom-right">
                    <button type="button" class="know">Know more</button>
                </div>
            </div>
        </div>

        <div class="members">
            <div>
                <div class="membersHead" style="text-align: center;">
                    Our Members
                </div>
            </div>
            <div class="container">
                <div style="text-align: center;">
                    <img src="assets/OBJECTS.png" alt="members" class="img-fluid member-img">
                </div>
                <div class="bottom-right">
                    <button type="button" class="know">Know more</button>
                </div>
            </div>
        </div><br/><br/><br/><br/><br/>

        <div class="developers">
            <div>
                <div class="developersHead" style="text-align: center;">
                    Our Developers
                </div>
            </div>
            <div class="container">
                <div style="text-align: center;">
                    <img src="assets/develop.png" alt="members" class="img-fluid developer-img">
                </div>
                <div class="bottom-right">
                    <button type="button" class="know">Know more</button>
                </div>
            </div>
        </div>
    </div>
</div>
