<div class="bg">
    <div class="container">
      <p class="text-classes std">classes</p>
      
      <!-- <p class="classes-no">1</p> -->
      <div class="std">
        <div class="menu">
          <span class="classes-no">1st</span>
          <span class="classes-no">2nd</span>
          <span class="classes-no">3rd</span>
          <span class="classes-no">4th</span>
          <span class="classes-no">5th</span>
          <span class="classes-no">6th</span>
          <span class="classes-no">7th</span>
          <span class="classes-no">8th</span>
          <span class="classes-no">9th</span>
          <span class="classes-no">10th</span>
        </div>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Class
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1st</a>
            <a class="dropdown-item" href="#">2nd</a>
            <a class="dropdown-item" href="#">3rd</a>
            <a class="dropdown-item" href="#">4th</a>
            <a class="dropdown-item" href="#">5th</a>
            <a class="dropdown-item" href="#">6th</a>
            <a class="dropdown-item" href="#">7th</a>
            <a class="dropdown-item" href="#">8th</a>
            <a class="dropdown-item" href="#">9th</a>
            <a class="dropdown-item" href="#">10th</a>
          </div>
  
        
      </div>
     
      </div>
      <hr class="hline std" />
     <!-- <div class="row"> -->
      <div class="classes-sub std"></div>
  
     </div>
      
    </div>

  