<div class="">
    <div class="  navOnStart  " id="navgo">
      <nav class="navbar navbar-light navbar-expand-lg bg-transparent ml-auto ">
        <a class="navbar-brand" href="#">e school</a>
        <li class="nav-item ml-auto ">
          <img src="logo1.png" class = "onStartLogo" alt="">
        </li>
  
  
      </nav>
      <hr class="horizontalLine">
    </div>
    <div class="navhide" id="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">e school</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item items ">
              <a class="nav-link" href="#">classes </a>
            </li>
            <li class="nav-item items">
              <a class="nav-link" href="#">features</a>
            </li>
            <li class="nav-item items">
              <a class="nav-link" href="#">contact us</a>
            </li>
            <li class="nav-item items">
              <a class="nav-link " href="#">about us</a>
            </li>
            <li class="nav-item ">
              <img src="logo1.png" class="onHideLogo" alt="">
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div class="bd-example container  ">
      <div id="carouselExampleCaptions" class="carousel slide show-neighbors" data-ride="carousel">
  
  
  
        <div class="carousel-inner ">
  
          <div class="carousel-item active">
            <div class="item__third">
              <div class="carousel_first">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="item__third">
              <div class="carousel_second">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="item__third">
              <div class="carousel_third">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
      </div>
  
    </div>
    <div class="container-fluid button_row  text-center container">
      <div class="row">
        <div class=" col-lg-3 col-md-6"><button type="button" class=" button ">classes</button></div>
        <div class=" col-lg-3 col-md-6"><button type="button" class=" button">features</button></div>
        <div class=" col-lg-3 col-md-6"><button type="button" class=" button">contact us</button></div>
        <div class=" col-lg-3 col-md-6"><button type="button" class=" button">about us</button></div>
  
      </div>
  
    </div>
  
  
  
   
  </div>
